.App {
  padding: 15px;
  max-width: 930px;
  margin: 0 auto;
}

.AppWrapper {
  position: relative;
}

.completedTodo,
.notCompletedTodo {
  border: 1px solid black;
  padding: 10px;
  max-width: 450px;
  border-radius: 20px;
}

.completedTodo {
  color: rgb(127, 127, 127);
  border-color: rgb(127, 127, 127);
}

.titleCompleted {
  text-decoration: line-through;
}

.mainTitle,
.title {
  text-align: center;
}


.btnWrapper {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  left: 100%;
  min-height: 100vh;
  height: 100%;
  width: 100px;
}

.listsWrapper {
  display: flex;
  justify-content: space-between;
}