.App {
  padding: 15px;
  max-width: 1230px;
  margin: 0 auto;
}

.completedTodo,
.notCompletedTodo {
  border: 1px solid black;
  padding: 10px;
  max-width: 450px;
  border-radius: 20px;
}

.completedTodo {
  color: rgb(127, 127, 127);
  border-color: rgb(127, 127, 127);
}

.titleCompleted {
  text-decoration: line-through;
}

.mainTitle,
.title {
  text-align: center;
}

.botWrapper {
  display: flex;
  justify-content: space-around;
}